body {
    background-color: #fafafa;
    color: #363636;
    font-size: 18px;
    line-height: 24px;
    font-family: 'Quicksand', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Oswald', sans-serif;
    font-variant: all-small-caps;
}

a{
    text-decoration: none;
    color: #72e5bf;
}
/*Navegacion*/
aside {
    width: 22%;
    float: left;
    height: 100vh;
    box-shadow: 1px 0px 9px 1px rgba(0, 0, 0, 0.1);
    background-color: #f2f2f2;
    position: fixed;
}

aside .profile {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 30px;
}

aside img {
    width: 60%;
    display:block;
  margin-left:auto;
  margin-right:auto;
}
.frase{
    text-align: center;
    color: #575752;
    font-weight: 700;
    font-size: 15px;
    font-style: italic;
    line-height: 18px;
}

nav {
    list-style: none;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-variant: all-small-caps;
    font-size: 36px;
    text-align: center;
    margin-top: 60px;
}

nav li {
    padding-bottom: 35px;
}

nav a {
    color: #363636;
}
button {
    background-color: #72e5bf;
    font-variant: all-small-caps;
    color: #fafafa;
    border-radius: 8px;
    width: 65%;
    height: 45px;
    line-height: 0;
    padding-bottom: 8px;
    border-style: none;
    padding: 1px 2px 13px 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
button a {
    color: #fafafa;
    width: 100%;
}
button:hover {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}

button:active {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
}
.footer{
    height:12vh;
    background-color: #575752;
    width:100%;
    text-align: center;
    font-size: 14px;
    }
.footer i{
    vertical-align: middle;
}
.footer p{
    font-variant: small-caps;
    color: #f2f2f2;
    line-height: 12px;
    margin: 7px 0px 5px 0px;
}
.main-content {
    height:88vh;
}

section {
    float: right;
    width: 76%;
}

.container {
    width: 80%;
    margin-left: 5%;
    margin-right: 15%;
    height: 100vh;
}

.social {
    position: fixed;
    float: right;
    margin-left: 92%;
    margin-right:5%;
}
.social ul{
    list-style: none;
    margin-top: 25vh;
}
.social li{
    padding-bottom: 15px;
}

h1{
    font-size: 58px;
    font-weight: 900px;
    margin-top: 30px;
}
h1 span{
    display: block;
    font-size: 36px;
    font-weight: 100;
    color: #575752;
    line-height: 48px;
}


.img-perfil {
    width: 20%;
    float: left;
    shape-outside: circle();
    margin-right: 22px;
}
.container .datos{
    width:20%;
    background-color: #f2f2f2;
    float:left;
    margin-top: 25px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
}
.process{
    width: 38%;
    float: right;
    margin-top: 25px;
    margin-left: 1%;
    transition: transform .2s;
}


.process:hover {
    transform: scale(1.3); 
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.datos .row {
    color: #fafafa;
    background-color: #7a7a7a;
    height: 30px;
    margin-top: 0;
}
.row h3{
    margin-top: 0;
    padding-left :4px;
}
.datos ul{
    padding-left: 4px;
}
.datos li{
    list-style: none;
    font-size: 14px;
}
.proyecto {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 22%;
    min-width: 200px;
    margin-top: 0;
    float: left;
    margin-left: 2%;
    margin-top: 20px;
   
}

.proyecto:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.img-container {
    width: 100%;
    background-color: #00A196;
    height: 180px;
    margin-top: 0;
}
.img-container  img {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    

}
/* Add some padding inside the card container */
.info-proyecto {
    padding: 2px 16px;
    background-color:#fafafa;
    height: 90px;
    margin-top: 0;
    
}

.info-proyecto h3{
    margin-top: 10px;
    margin-bottom: 5px;
}
.info-proyecto p{
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 10px;
    line-height: 18px;
}